
<div class="row home-carousel">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div id="owl-demo" class="owl-carousel owl-theme">

            <div class="item owl-item-left">
                    <div class="panel home-slide-boxes">
                        <div class="panel-body">
                          <i class="material-icons">fingerprint</i>
                            <h2>Some Title</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
              </div>
              <div class="item owl-item-right">
                    <div class="panel home-slide-boxes">
                        <div class="panel-body">
                          <i class="material-icons">important_devices</i>
                            <h2>Some Title</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                </div>
            <div class="item owl-item-left">
                    <div class="panel home-slide-boxes">
                        <div class="panel-body">
                          <i class="material-icons">gesture</i>
                            <h2>Some Title</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
            </div>
            <div class="item owl-item-right">
                    <div class="panel home-slide-boxes">
                        <div class="panel-body">
                          <i class="material-icons">directions_bike</i>
                            <h2>Some Title</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
              </div>
            </div>
        </div>
    </div>
